.wrapper {
    height: 100vh;
    padding: 2rem 2rem 2rem 2rem;
}

* {
    font-family: "Roboto", sans-serif;
}

.App{
    /* background-image: url("https://play-lh.googleusercontent.com/ljQ4HPhoRRgWjDymlEQTHwAQ4r9a3XSAGhNsgromvxbrS7IY0UX8bSjcYw48UQCIwdg=w240-h480-rw"); */
}