.subjects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: left;
    margin: 0px 30px 0px 30px;
}

.subject_wrapper {

    display: flex;
    justify-self: center;
    width: 100%;
}

.create_subject {
    display: grid;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
}