.period_create_wrapper {
}

.period_data_wrapper {
    grid-column: span 2;

}

.period_timer_wrapper {
    grid-column: 3;
}

.buttons_wrapper {
    display: grid;

    height: 5vh;
    grid-template-columns: repeat(3, 1fr);
}

.start_button {
    display: block;
    grid-column: 1;
}

.finish_button {
    display: block;
    grid-column: 3;
}

.topic_to_start_period_wrapper {
    height: 20rem;
    overflow: hidden;
}