.wrapper {
    display: flex;
    justify-content: center;
}

.field {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    transform-origin: 0px 0px;
    gap: 10rem;
    user-select: none;
    
}

.team-wrapper {

    height: 5rem;
    text-align: center;
    align-content: center;

}

.field-wrapper {

    overflow: hidden;

    width: 1300px;
    height: 900px;
    border: 1px solid black;

}

.field-wrapper::-webkit-scrollbar{
    height: 1px;
    background-color: transparent;
}

