.search_bar {
    display: flex;
    gap: 10px;
    padding-bottom: 2rem;
}

.search_input_wrapper {
    place-self: center;
}

.search_input_wrapper > input {
    font-size: 1.5rem;
}

.search_button_wrapper {
    display: grid;
}

.search_button_wrapper > button {
    display: block;
    place-self: center;
    font-size: 1.5rem;
}

.title_input:focus {
    outline: none;
}

.title_input {
    border: 1px solid black;
    border-radius: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    padding-left: 0.5rem;

    display: block;
    grid-column: 2;
}

.search_label {
    font-size: 2rem;
    font-weight: bold;
}