.buttons {
    display: flex;
    gap: 10px;
}

.subject_topics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.topic_wrapper {
    height: 40vh;
}

.subject_edit {
    display: flex;
}

.topic_to_subject_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5rem;

}

.topic_append {
    grid-column: 1;
    padding: 2rem;
}

.topic_remove {
    grid-column: 2;
    padding: 2rem;
}