.nav_items {
    display: flex;
    gap: .3rem;
}

.navbar {
    height: 6vh;
    display: grid;
    background-color: #823237;
    
    font-weight: 600;
    
}

.nav_item {
    display: grid;
    width: 15vh;
}

.nav_link {
    place-self: center;
    width: 100%;
    text-align: center;

}

.nav_link > a {
    color: #ED9691;
    text-decoration: none;
}

.logout_button {
    border-radius: 10px;
    border: 1px solid black;
    height: 75%;
}

.logout_button:hover {
    cursor: pointer;
}

.dropdown-content {
    position:absolute;
    display: none;
    background-color: rgb(209, 207, 207);
    transition: .2s;
}

.drop_down {
    position: relative;
}

.drop_link {
    margin: 0.5rem 0px;
}

.drop_down:hover .dropdown-content {
    display: grid;
}