.nav_items {
    display: flex;
    justify-content: space-around;
}

.navbar {
    height: 6vh;
    display: grid;
    background-color: grey;
    margin-bottom: 30px;
}

.nav_item {
    display: grid;
    width: 15vh;
}

.nav_link {
    place-self: center;
    width: 100%;
}

.nav_link > a {
    color: black;
    text-decoration: none;
}

.logout_button {
    border-radius: 10px;
    border: 1px solid black;
    height: 50%;
    display: block;
    place-self: center;
}

.logout_button:hover {
    cursor: pointer;
}

.dropdown-content {
    position:absolute;
    display: none;
    background-color: rgb(209, 207, 207);
    transition: .2s;
}

.drop_down {
    position: relative;
}

.drop_link {
    margin: 0.5rem 0px;
}

.drop_down:hover .dropdown-content {
    display: grid;
}