.notes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: left;
}

.note_wrapper {

    display: flex;
    justify-self: center;
    width: 100%;
}

.create_note {
    display: grid;
    justify-content: center;
    gap: 10px;
    margin-bottom: 100px;
}